<!-- ========== テンプレート ==========
      <dl>
        <dt>2015/00/00</dt>
        <dd>
          <a href="">
          </a>
          を更新しました。
          <img src="/img/icon/new.gif" alt="[NEW]" width="30" height="11" />
        </dd>
      </dl>

      <dl>
        <dt>2015/00/00</dt>
        <dd>
          <a href="">
            ブログ更新『』
          </a>
          <img src="/img/icon/up.gif" alt="[UP]" width="30" height="11" />
        </dd>
      </dl>
-->
      <dl>
        <dt>2016/03/10</dt>
        <dd>
          <a href="/html/recruitment.html#rcrt-event">
          新入生向け情報</a>
          を更新しました。
          <img src="/img/icon/new.gif" alt="[NEW]" width="30" height="11" />
        </dd>
      </dl>

      <dl>
        <dt>2015/03/07</dt>
        <dd>
          <a href="https://onedrive.live.com/?id=5EEAA364047D3959!16105&cid=5EEAA364047D3959"
			  target="_blank">
			第20回記念定期演奏会の録音
          </a>
          を公開しました。
          <img src="/img/icon/new.gif" alt="[NEW]" width="30" height="11" />
        </dd>
      </dl>

      <dl>
        <dt>2016/03/07</dt>
        <dd>
          <a href="/html/events/FY2015_reg-concert20.html">
			演奏会情報
          </a>
          に追記しました。
          <img src="/img/icon/new.gif" alt="[NEW]" width="30" height="11" />
        </dd>
      </dl>

      <dl>
        <dt>2015/12/13</dt>
        <dd>
          <a href="/html/events/FY2015_reg-concert20.html">
			演奏会情報
          </a>
          を更新しました。
        </dd>
      </dl>

      <dl>
        <dt>2015/12/11</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/e955b0d43a916ff410b0df9d8e8466ba">
            ブログ更新『学祭&amp;これからの予定』
          </a>
        </dd>
      </dl>

	        <dl>
        <dt>2015/11/12</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/3a1ad745df610c5f4a14d8c4f19d7ca6">
            ブログ更新『flaute quatuor』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/10/23</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/7f7189a25871fc951974d4135a41d977">
            ブログ更新『告知♪』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/09/27</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/9daa5375d424bf49effddf76893f4d71">
            ブログ更新『合宿その後』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/09/27</dt>
        <dd>
          <a href="/html/events/FY2015_shingetsu.html">
	          Autumn Concert 2015 @新月祭 の情報を追記
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/09/26</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/dfd33f1eedfd77d8f213cc81ba507725">
            ブログ更新『合宿総括』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/09/25</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/a121436a4659e803b610ea821cc29a06">
            ブログ更新『合宿３日目(午前)』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/09/24</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/c091f31fa8a1522050826b9c82d76203">
            ブログ更新『合宿2日目(午後)』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/09/24</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/17694e5baaf89119135a54627aed9960">
            ブログ更新『合宿２日目午前』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/09/21</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/8c57dfdbd71f1210619d8459cd6548f6">
            ブログ更新『合宿初日～(*´ω`*)！』
          </a>
        </dd>
      </dl>


      <dl>
        <dt>2015/09/14</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/c80a379282665d9cd530b14c23cfcf76">
            ブログ更新『けやき台幼稚園にて』
          </a>
        </dd>
      </dl>


      <dl>
        <dt>2015/09/13</dt>
        <dd>
          <a href="/html/history/history.html">
            演奏履歴
          </a>
          を更新しました。
        </dd>
      </dl>

      <dl>
        <dt>2015/09/12</dt>
        <dd>
          <a href="/html/events/FY2015_shingetsu.html">
	          Autumn Concert 2015 @新月祭 の情報を掲載
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/08/28</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/e880ca2a1be7c5a874f9719fae550d7b">
            ブログ更新『OB総会＆茶話会』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/06/01</dt>
        <dd>
          <a href="/html/events/FY2015_chapel-spring.html">
					  演奏会情報
          </a>
          を更新しました。
        </dd>
      </dl>

      <dl>
        <dt>2015/05/24</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/e5018b51669764b04de320c72fbcd549">
            ブログ更新『合奏団20周年！！（＆新歓）』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/05/19</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/55ce758cd19caf5591e2dc9ecb9e1036">
            ブログ更新『新入生団員募集中！』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/04/29</dt>
        <dd>
          <a href="/html/rc-evnt.html">
			新歓情報
          </a>
          を更新しました。
        </dd>
      </dl>

      <dl>
        <dt>2015/04/08</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/8202332aa85668c164f9242f0adf5fe8">
            ブログ更新『定期演奏会を終えて』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/04/04</dt>
        <dd>
          カレンダーの表記など、細部の調整を行いました。
        </dd>
      </dl>

      <dl>
        <dt>2015/04/01</dt>
        <dd>
          <a href="/html/recruitment.html#rcrt-event">新入生向けイベント情報</a>を更新。
          <a href="/html/rc-evnt.html">特設ページ</a>を公開しました。
        </dd>
      </dl>

      <dl>
        <dt>2015/03/31</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/707cd68eea06478c14d4cd65a314ed33">
            ブログ更新『新生 合奏団!!』（4/2リンク修正）
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/03/24</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/5cd9e555695caa90701868bb0a9a22c8" target="_blank">
            ブログ更新『4年間(^o^)』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/03/23</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/55a6496ebef46e94b32067dfbe70b19a" target="_blank">
            ブログ更新『第19回定期演奏会を終えて』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/03/17</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/2aa39c7ac9356720e59fc690e4ef2f96" target="_blank">
            ブログ更新『新入生募集に向けて！』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/03/13</dt>
        <dd>
          <a href="/html/history/history.html">
            演奏履歴
          </a>
          を更新しました。
          <a href="https://onedrive.live.com/?cid=5EEAA364047D3959&id=5EEAA364047D3959%2112313" target="_blank">
            第19回定期演奏会の録音を聞く
          </a>
          ことができます。
        </dd>
      </dl>

      <dl>
        <dt>2015/03/13</dt>
        <dd>
          <a href="/html/recruitment.html#rcrt-event">
            新入生向けイベント
          </a>
          の情報を掲載
        </dd>
      </dl>

      <dl>
        <dt>2015/03/13</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/e23bf7497a21cf21b96e69fa35e64117" target="_blank">
            ブログ更新『第19回定期演奏会と今後』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/03/12</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/46a3c60d146afdc916ef5c736c6cdd6a" target="_blank">
            ブログ更新『第19回定期演奏会を終えて』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/03/12</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/83083d31b6ebd03c2cc7ce2ecf717073" target="_blank">
            ブログ更新『第19回定期演奏会』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/03/12</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/c07b4c0558d055a9c8ae91fbca942948" target="_blank">
            ブログ更新『第19回定期演奏会(その２)+打ち上げ』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/03/12</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/c7d9f18497bbf8e0b11400a36a7ccd89" target="_blank">
            ブログ更新『第19回定期演奏会(たぶんその1)』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/03/10</dt>
        <dd>
          <a href="/html/schedule.html#activity-cal">
            メニューを含む、コンテンツ配置を変更
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/03/06</dt>
        <dd>
          <a href="/html/schedule.html#activity-cal">
            カレンダーを更新・デザインを変更
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/02/28</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/928383b8ad1707e75892daf26caee5bf" target="_blank">
            ブログ更新『第19回定期演奏会について』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/02/28</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/2a921c44a9793d158a36fe2785001680" target="_blank">
            ブログ更新『ホール練習‼』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/02/16</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/d59588e9744ed915c7f7db65807ed0c7" target="_blank">
            ブログ更新『ごうどうれんしゅうごうどうれんしゅうごうどうれんしゅう…』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/02/16</dt>
        <dd>
          <a href="http://blog.goo.ne.jp/gassoudan/e/1273f1dcb17e7c14409bb6f138df48c1" target="_blank">
            ブログ更新『ホームページリニューアル‼‼‼＆春合宿行ってきたよ！頑張ってきたよ！』
          </a>
        </dd>
      </dl>

      <dl>
        <dt>2015/02/15</dt>
        <dd>
          <a href="/html/events/FY2015_chapel-spring.html">定期演奏会の情報を更新しました。</a>
        </dd>
      </dl>

      <dl>
        <dt>2015/02/15</dt>
        <dd>
          ホームページデザインを一新しました。
      </dl>
      
      
