@charset "utf-8";



.bluebtn { background: #40AAEF; }
.greenbtn { background: #58BE89; }
.pinkbtn { background: #F27398; }


.shadow {
 /* ===== 陰影 ===== */
  -moz-box-shadow: 1px 1px 1px rgba(000,000,000,0.3);
  -webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.3); 
}

.gradation-blue1 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #94caeb), color-stop(0.94, #66b5e5), color-stop(0.70, #0095f0), color-stop(0.47, #0b8cda), color-stop(0.00, #a7d5f1));
  background: -webkit-linear-gradient(top, #a7d5f1 0%, #0b8cda 47%, #0095f0 70%, #66b5e5 94%, #94caeb 100%);
  background: -moz-linear-gradient(top, #a7d5f1 0%, #0b8cda 47%, #0095f0 70%, #66b5e5 94%, #94caeb 100%);
  background: -o-linear-gradient(top, #a7d5f1 0%, #0b8cda 47%, #0095f0 70%, #66b5e5 94%, #94caeb 100%);
  background: -ms-linear-gradient(top, #a7d5f1 0%, #0b8cda 47%, #0095f0 70%, #66b5e5 94%, #94caeb 100%);
  background: linear-gradient(top, #a7d5f1 0%, #0b8cda 47%, #0095f0 70%, #66b5e5 94%, #94caeb 100%);

}

.gradation-blue2 {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #02b0e6), color-stop(0.00, #99dff5));
	background: -webkit-linear-gradient(top, #99dff5 0%, #02b0e6 100%);
	background: -moz-linear-gradient(top, #99dff5 0%, #02b0e6 100%);
	background: -o-linear-gradient(top, #99dff5 0%, #02b0e6 100%);
	background: -ms-linear-gradient(top, #99dff5 0%, #02b0e6 100%);
	background: linear-gradient(top, #99dff5 0%, #02b0e6 100%);
}

.gradation-blue3 {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #9bd6f2), color-stop(0.00, #d5def6));
	background: -webkit-linear-gradient(top, #d5def6 0%, #9bd6f2 100%);
	background: -moz-linear-gradient(top, #d5def6 0%, #9bd6f2 100%);
	background: -o-linear-gradient(top, #d5def6 0%, #9bd6f2 100%);
	background: -ms-linear-gradient(top, #d5def6 0%, #9bd6f2 100%);
	background: linear-gradient(top, #d5def6 0%, #9bd6f2 100%);
}

.gradation-green {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #7dbe0a), color-stop(0.62, #a1d54f), color-stop(0.41, #80c218), color-stop(0.00, #a2d93f));
	background: -webkit-linear-gradient(top, #a2d93f 0%, #80c218 41%, #a1d54f 62%, #7dbe0a 100%);
	background: -moz-linear-gradient(top, #a2d93f 0%, #80c218 41%, #a1d54f 62%, #7dbe0a 100%);
	background: -o-linear-gradient(top, #a2d93f 0%, #80c218 41%, #a1d54f 62%, #7dbe0a 100%);
	background: -ms-linear-gradient(top, #a2d93f 0%, #80c218 41%, #a1d54f 62%, #7dbe0a 100%);
	background: linear-gradient(top, #a2d93f 0%, #80c218 41%, #a1d54f 62%, #7dbe0a 100%);
}

.gradation-yellow {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #feae31), color-stop(0.00, #efe457));
	background: -webkit-linear-gradient(top, #efe457 0%, #feae31 100%);
	background: -moz-linear-gradient(top, #efe457 0%, #feae31 100%);
	background: -o-linear-gradient(top, #efe457 0%, #feae31 100%);
	background: -ms-linear-gradient(top, #efe457 0%, #feae31 100%);
	background: linear-gradient(top, #efe457 0%, #feae31 100%);
}

  /* ===== 背景 ===== */
  /*  background: -moz-linear-gradient(top,#BFD9E5, #3D95B7 50%,#0080B3 50%,#0099CC);
      background: -webkit-gradient(linear, left top, left bottom, from(#BFD9E5), color-stop(0.5,#3D95B7), color-stop(0.5,#0080B3), to(#0099CC)); */

/*    background: -moz-linear-gradient(top,#FFF 0%,#E6E6E6);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6)); */