@charset "utf-8";


/* ===== 基本設定（エレメント / タグセレクタ） ===== */
ul, ol, dl { 
/* ブラウザ間の一貫性のため、余白を指定。
   詳細なセレクターを記述しない限り、.navリストにも適用されることに注意 */
	padding: 0;
	margin: 0;
}

a img { /* イメージをリンクで囲んだ場合に、一部のブラウザーで表示される周囲の青いボーダーを削除 */
	border: none;
}



/* ===== リンク設定 ===== */
/* スタイル付けは、ホバー効果を作成するセレクターグループも含め、この順序にする必要がある */
a:link {
	color: #42413C; 
/*  color: #3cb371; */
	text-decoration: underline; /* リンクに下線を指定 */
}
a:vsited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* キーボード操作に対し、マウスと同様にホバー効果を指定 */
	text-decoration: none;
}



/* ===== 見出し設定 ===== */
h1, h2, h3, h4, h5, h6, p {
  /* 上マージンを削除すると、マージンを含む div からマージンがはみ出す場合があるという問題を回避できる。
	   残った下マージンにより、後続のエレメントからは離される。 */	
	margin-top: 0;		
	padding-right: 15px;
	/* div 自体ではなく div 内でエレメントの両側に余白を追加すると、ボックスモデル計算が不要。
	   代わりに、両側に余白を指定した div をネスト可能。 */
	padding-left: 15px;
}

h1 { padding: 10px 0 20px 7%; }

h2 {
	padding-left: 25px;
	background-image: url("/img/bg/h2-bg.png");
	background-size: auto 40px;
	line-height: 35px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}



/* ===== ページ共通設定 ===== */
/* body */
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
  font: 85%/250% "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	webkit-text-size-adjust: 100%; /* 要検証 */
}


/* header */
.header {
	width: inherit;
	background-image: url("/img/header/header_sky.jpg");
	background-size: 100% 140px;
}

#logo {
	margin-top: 20px;
	margin-left: 25px;
	width: 380px;
	height: 100px;
}


/* content */
.content {
	padding: 15px 0 0 0;
	width: inherit;
	background-color: inherit;
}

.content * {
	margin: 0 auto;
}


/* toTop */
.toTop {
	background: url("/img/bg/dot_bar.gif") repeat-x 0% 0%;
	margin: 10px 0px;
	color: #999;
	text-align: right;
}




/* ===== general ===== */
.no-padding { padding-left: 0; }

.no-indent { text-indent: 0; }
.center {	text-align: center; }

.small  { font-size: small; }
.large  { font-size: large; }
.medium { font-size: medium; }
.larger { font-size: larger; }
.font12 { font-size: 12px; }
.font14 { font-size: 14px; }
.font15 { font-size: 15px; }
.font16 { font-size: 16px; }
.font18 { font-size: 18px; }
.font20 { font-size: 20px; }
.font22 { font-size: 22px; }
.font24 { font-size: 24px; }

.bold { font-weight: bold; }

.yellow  { color: #FF5500; }
.orange  { color: orange;  }
.hotpink { color: hotpink; }

.underline { text-decoration: underline; }

.float-left { float: left; }
.float-right{ float: right; }
.clear-both { clear: both; }

.vert-margin5  { margin-top :  5px;  margin-bottom:  5px;}
.vert-margin10 { margin-top : 10px;  margin-bottom: 10px;}
.vert-margin20 { margin-top : 20px;  margin-bottom: 20px;}
.vert-margin25 { margin-top : 25px;  margin-bottom: 25px;}
.vert-margin30 { margin-top : 30px;  margin-bottom: 30px;}
.vert-margin40 { margin-top : 40px;  margin-bottom: 40px;}
.vert-margin50 { margin-top : 50px;  margin-bottom: 50px;}
.vert-margin60 { margin-top : 60px;  margin-bottom: 60px;}


.vert-padding5  { padding-top:  5px; padding-bottom:  5px;}
.vert-padding10 { padding-top: 10px; padding-bottom: 10px;}


.green-link {
	color: #60D030 !important;
}

.green-link:hover {
	color: #FF9933 !important;
}

.green-link:active {
	color: #FFCC99 !important;
}

.double-underline { border-bottom: 3px double;}

.no-linkline { text-decoration: none !important; }
.double-linkline { border-bottom: 3px double; text-decoration: none !important; }
.double-linkline:hover { border-bottom: none;}


/* 点滅 */
@-webkit-keyframes 'pulse' {
  0%{ opacity:0.2; }
  20%{ opacity:0.3; }
  50%{ opacity:0.6; }
  100%{ opacity:1; }
}

.flash {
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
	-webkit-animation-delay: 0s; 
}

/* 付箋 */
.postit {
  width: 200px;
  height: 40px;
  line-height: 40px;
  position: relative;
  background: #f0f0f0;
}
.postit:after {
  width: 170px;
  height: 35px;
  content: "";
  position: absolute;
  top: 0;
  right: 2px;
  /* ぼかし */
  -moz-box-shadow: 0 5px 5px #999; /* Firefox */
  -webkit-box-shadow: 0 5px 5px #999; /* Safari and Chrome */
  box-shadow: 0 5px 5px #999;
  /* 回転 */
  -moz-transform: rotate(3deg); /* FireFox */
  -webkit-transform: rotate(3deg); /* Safari and Chrome */
  -o-transform: rotate(3deg); /* Opera */
  -ms-transform: rotate(3deg); /* IE */
  transform: rotate(3deg);
	z-index: -1;
}


/* ===== 個別ページ設定 ===== */
/* about */
.yearly-schedule dl { 
  width: 24em;
  height: 30em;
  margin: 15px auto;
  text-align: left;
}
.yearly-schedule dt { 
  padding-left: 3em;
  float: left;
  width: 11em; 
  height: 2.5em;
}
.yearly-schedule dd { 	
  padding-left: 14em;
  width: 10em;
  height: 2.5em;
}


.memberlist dl { 
	width: 22em;
  height: 16em;
  margin: 15px auto;
  text-align: left;
}
.memberlist dt { 
  padding-left: 2em;
  float: left;
  width: 16em; 
}
.memberlist dd { 	
  padding-left: 18em;
  width: 3em;
  height: 2.5em;
}


/* recruitment */
.calendar {
  width: 100%;
  border: 1px #000 solid;
  border-collapse: collapse;
  font-size: 12px;

  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.calendar tr{
  height: 20px;
}

.calendar td,
.calendar th {
  width: 14%;
	border: 1px #000 solid;
}

.calendar-sun {
  color: #ff0000;
}

.calendar-sat {
  color: #0000ff;
}

.calendar-activity { /*通常活動用*/
  background-color: #ffff99;
}

.calendar-activity2 { /*学外活動用*/
  background-color: #ff9999;
}

.calendar-activity3 { /*特殊活動用*/
  background-color: #99ffff;
}

.calendar-undecided { /*未決定期間用*/
  background-color: #d0d0c9;
}


/* 2色セル用クラス */
.calendar-act1act3 {
  background: -moz-linear-gradient(left top, #FF9, #FF9 50%, #9FF 50%, #9FF);
  background: -webkit-linear-gradient(left top, #FF9, #FF9 50%, #9FF 50%, #9FF);
  background: linear-gradient(left top, #FF9, #FF9 50%, #9FF 50%, #9FF);
  -moz-background-size: 20px 20px;
  -webkit-background-size: 20px 20px;
  background-size: 100% 100%;
}

.calendar-act3act1 {
  background: -moz-linear-gradient(left top, #9FF, #9FF 50%, #FF9 50%, #FF9);
  background: -webkit-linear-gradient(left top, #9FF, #9FF 50%, #FF9 50%, #FF9);
  background: linear-gradient(left top, #9FF, #9FF 50%, #FF9 50%, #FF9);
  -moz-background-size: 20px 20px;
  -webkit-background-size: 20px 20px;
  background-size: 100% 100%;
}


.calendar-link a{
	display: block;
	width: 100%;
	height: 100%;
}

.calendar-link a:hover {
	background-color: #cFa;
}

.answer {
  padding-left: 1.6em;
  text-indent: -1.4em;
}


/* history */
.whitecell { position: relative; width: 20%; }
.whitecell a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 73%;
	padding-top: 20%;
}
.whitecell a:hover {
	background-color: #FFA;
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}
.colorcell { background-color: #afeeee; width: 20%; }
.colorcell:after{
  padding-top: 66%;
  display: block;
  content: "";
  clear: both;
}



/* ===== 使ってないやつ ～ フローティング関連 ===== */
.fltrt {
/* このクラスを使用すると、ページ内でエレメントを右にフローティングできる。
   フローティングさせるエレメントは、ページ内で横に並べて表示するエレメントの前に指定する必要がある。 */
  float: right;
  margin-left: 8px;
}
.fltlft {
/* このクラスを使用すると、ページ内でエレメントを左にフローティングできる。
   フローティングさせるエレメントは、ページ内で横に並べて表示するエレメントの前に指定する必要がある。 */
  float: left;
  margin-right: 8px;
}
.clearfloat {
/* このクラスは、#footer が #container から削除されているか取り出されている場合に、
   <br /> または空の div で、フローティングさせる最後の div に続く最後のエレメントとして 
   (#container 内に) 配置できる。 */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
