@charset "utf-8";

/* ===== レイアウトに使用するカラム =====  後日修正予定

1) 余白は、div の上部または下部にのみ配置されます。
   これらの div 内のエレメントには、それ自体に余白があるので、ボックスモデル計算を行う必要はない。
   ただし、div 自体に両側の余白やボーダーを指定した場合、その値が加算されたものが合計幅になることに注意。
   div 内のエレメントの余白を削除し、さらにその div 内に、
	 全体のデザインに必要な幅や余白を指定していない 2つ目の div を追加することもできる。

2) カラムはすべてフロートしているため、マージンは指定されていない。
   マージンを追加する必要がある場合は、フロート方向には指定しない
    (例えば、右フロートに設定した div の右マージン)。
   代わりに余白を使用できる（こともある）
   これができない時は、div に「display:inline」を追加し、
   一部のバージョンの Internet Explorer でマージンが 2 倍になるバグを回避する必要があります。

3) クラスはドキュメント内で複数回使用でき、更にエレメントには複数のクラスを適用できるため、
   カラムには ID ではなくクラス名が割り当てられる
   例えば、必要に応じて 2 つのサイドバー div をスタックできます。
   クラスを各ドキュメントで一度しか使用しないのであれば、ユーザーの好みに応じて、クラス名を ID に変更することができます。

4) ナビゲーションを左ではなく右に配置したい場合、これらのカラムを反対方向にフロートさせると 
   (すべて左方向にする代わりに、すべて右方向に設定)、反転してレンダリングされます。
   HTML ソース内で div を移動する必要はありません。

*/

h2 {
	width: 75%;
}


#slideshow {
  position: relative;
	margin: 0 auto;
  width:  100%;
	height: 100%;
	padding: 48% 0 0;
  background-color: inherit;
}
/*padding は 4:3の比率を保って、レスポンシブ対応のため*/


#slideshow div {
	position: absolute;　/* 全部重ねて表示 */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

  z-index: 8;
  opacity: 0.0;
  background-color: inherit; /* ボックスの背景色(必須) */
}

#slideshow div.active {
   z-index: 10;
   opacity: 1.0;
}

#slideshow div.last-active {
   z-index: 9;
}

#slideshow div img {
   display: block;
   width:  85%; /* 画像の横幅 */
   height: auto; /* 画像の高さ */
   border: 0;
   margin-bottom: 10px; /* 画像下部の余白 */

	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}

#slideshow div p {
	text-align: center;
	font-weight: bold;
}



#notice {
	padding-top: 25px;
	margin-bottom: 40px;
	font-size: 160%;
}




#update {
	margin: 0 auto 40px auto;
	overflow-y: scroll;	/*iframe風に見せる設定。全部表示させておきたいならこの１行と下のheightを削除。*/
	width: 78%;
	height: 170px;	/*ブロックの高さ*/
}

#update dl {
	clear: left;
	margin-left: 4%;
	padding-top: 2px;
	width: 92%;
	height: 32px;
	border-bottom: 1px solid #999;
	overflow: hidden;
}

#update dt {
	padding-left: 5%;
	float: left;
	width: 15%;
}

#update dd {
	padding-left: 5%;
	float: left;
	width: 75%;
}

#update dd img {
	vertical-align: middle;
}



.menu {
  margin: 20px auto 60px auto;
  width: 816px; /* ボタン幅 + margin + 線幅（120 + 80 + 4）*4 */
	height: 292px;
	text-align: center;
}

/*
 *  丸ボタンのポイント 
 *   •widthとheightを同じ値にする
 *   •heightとline-heightを同じ高さに指定してボックスの中央にテキストを表示
 *   •border-radiusを50％にしてボックスを丸くする
 */


a.button {
	/* ===== サイズ ===== */
  width: 120px;
  height: 120px;
	line-height: 120px;

	/* ===== 形 ===== */
  border: 2px solid #DDD;

   border-radius: 50%;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
	
	/* ===== 配置 ===== */
	margin: 10px 40px 10px 40px;
  display: block;
  float: left;

	/* ===== テキスト ===== */
  text-decoration: none;
  color: #111;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}

a.button:hover, a.button:active, a.button:focus{
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}