@charset "utf-8";

.mailform{
	width: 640px;
	margin: 0 auto;
	text-align:center;
}


#note .mail_middle .mail_expliq {
	margin: 10px 0 10px 40px;
	padding: 0;
}


.mail_text textarea{
	width: 340px;
	height: 250px;
}


#shinobi_jp_text {
	text-align: center !important;
}