@charset "utf-8";

/* ------------------------------
      Corner-Rounded Table
 --------------------------------- */

.rounded-table {
	  
		width : 88%;
		max-width: 700px;
		
    border-spacing: 0;
	
    border: 1px solid #CCC;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
         -o-border-radius: 6px;
            border-radius: 6px;
    box-shadow: 0 1px 1px #CCC;
	
    border-bottom:solid 2px #CCC;
    border-right:solid 2px #CCC;
	
}
.rounded-table th,
.rounded-table td {
	  font-size: 15px;
    background:#FFF;
}

.rounded-table th {
    padding: 10px;
    background:#D8FFFF;
  	color: #332255;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.rounded-table td {
	max-width: 60%;
}

/* -----------------------
  左上角丸　最初の行の最初のセル
----------------------- */
.rounded-table tr:first-child th:first-child,
.rounded-table tr:first-child td:first-child {
    -webkit-border-radius: 6px 0 0 0;
       -moz-border-radius: 6px 0 0 0;
         -o-border-radius: 6px 0 0 0;
            border-radius: 6px 0 0 0;
}
/* -----------------------
  右上角丸　最初の行の最後のセル
----------------------- */
.rounded-table tr:first-child th:last-child,
.rounded-table tr:first-child td:last-child {
    -webkit-border-radius: 0 6px 0 0;
       -moz-border-radius: 0 6px 0 0;
         -o-border-radius: 0 6px 0 0;
            border-radius: 0 6px 0 0;
}
/* -----------------------
  左下角丸　最後の行の最初のセル
----------------------- */
.rounded-table tr:last-child th:first-child,
.rounded-table tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 6px;
       -moz-border-radius: 0 0 0 6px;
         -o-border-radius: 0 0 0 6px;
            border-radius: 0 0 0 6px;
}
/* -----------------------
  右下角丸　最後の行の最後のセル
----------------------- */
.rounded-table tr:last-child th:last-child,
.rounded-table tr:last-child td:last-child {
    -webkit-border-radius: 0 0 6px 0;
       -moz-border-radius: 0 0 6px 0;
         -o-border-radius: 0 0 6px 0;
            border-radius: 0 0 6px 0;
}